*.bak
*.cache
*.db
*.gz
*.lck
*.log
*.sqlite

plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/GriefPreventionData/ClaimData/
plugins/GriefPreventionData/PlayerData/
plugins/Multiverse-Core/scripts/
plugins/Multiverse-Core/worlds.yml
plugins/PurpleIRC/bots/
plugins/WorldEdit/schematics/
plugins/WorldGuard/worlds/
