*.bak
*.cache
*.db
*.gz
*.lck
*.log
*.sqlite

plugins/Essentials/userdata
plugins/Essentials/usermap.csv
plugins/GriefPreventionData/ClaimData
plugins/GriefPreventionData/PlayerData
plugins/Herochat/chatters
plugins/Multiverse-Core/worlds.yml
