*.cache
*.log
*.lck
*.sqlite
*.gz
*.db
*.bak
plugins/Essentials/userdata
plugins/Essentials/usermap.csv
plugins/Herochat/chatters
plugins/Multiverse-Core/worlds.yml
plugins/GriefPreventionData/ClaimData
plugins/GriefPreventionData/PlayerData
